/* style.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

/* Set box-sizing to border-box for all elements */
* {
    box-sizing: border-box;
}

/* Style for the header */
header {
    background-color: #085f63;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Style for the main content */
main {
    padding: 20px;
}

/* Style for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style for table header */
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Style for table rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e2e2e2;
}

/* Style for table cells */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style for navigation */
nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


/* Style for footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
